h1 {
    color: brown;
}

.header{
    background-color: aqua;
    display: flex; /* or inline-flex */
    justify-content: space-between
}
.grid{
    display: flex; /* or inline-flex */
    flex-wrap:wrap;
    justify-content: space-evenly
}
.footer{
    display: flex; /* or inline-flex */
    justify-content:flex-end;
}
h2 {
    text-align: center;
}
body{
    background-color:#00ff65
}